<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsgy2iJ6pah3zpSilygNBnLVFi0hJTJHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>780939763489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.Snorry.Snorry</string>
	<key>PROJECT_ID</key>
	<string>snorry-987cb</string>
	<key>STORAGE_BUCKET</key>
	<string>snorry-987cb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780939763489:ios:5a0f2ddc596b2227822860</string>
</dict>
</plist>